<!DOCTYPE html>
<html lang="en">
{{> baseHead customTitle='หน้าแรก | '}}

<body>
    {{> sideHeader }}
    <section class="section">
        <div class="container-box">
            <br>
            <h1 class="text-2xl font-bold">{{ greeting }}</h1>
            <p>วันนี้เพื่อนมีอะไรจะฝากถาม ...</p>
            {{#each allPosts }}
            <div class="box">
                <h4 class="text-xl font-bold text-sky-400"><a href="/p/{{ this.id }}">{{ this.title }}</a></h4>
                <p>
                    <span>{{ this.from }} | </span>
                    <span>{{ this.createdAtText }}</span>
                </p>
                {{#if this.commentsCount }}
                <div>{{ this.commentsCount }} คอมเมนต์</div>
                {{else}}
                <div>ยังไม่มีคอมเมนต์</div>
                {{/if}}
            </div>
            <br>
            {{/each}}
        </div>
    </section>
    {{> sideFooter }}
    {{> siteScrollTop }}
    {{> siteScript }}
</body>

</html>